<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;">
  <table class="table">
     <tr>
        <th>Name</th>
        <th>Description</th>
     </tr>

     <tr th:each="cheese : ${cheeses}" class="checkbox">
         <td th:text="${cheese.cheeseName}"></td>
        <td th:text="${cheese.cheeseDescription}"></td>
     </tr>
  </table>
</form>
</body>
</html>